html, body {
    font-family: inter-var, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    color: #111111;
    background: #fdfcfa;
}

body {
    height: 100%;
    min-height: 100vH;
}

* {
    box-sizing: border-box;
    -webkit-print-color-adjust: exact;
}

ol, ul {
    padding-left: 0;
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.n2web_structure {
    width: 80%;
    margin: 0 auto;
    max-width: 1260px;
}

.n2web_header {
    margin: 0 auto;
    width: 100%;
    position: sticky;
    top: 0;
    background: #fdfcfa;

}

.n2web_header_inner {
    width: 80%;
    margin: 0 auto;
    max-width: 1260px;
    height: 50px;
    border-bottom: 1px solid #eeedeb;
}

.n2web_content {
    padding-top: 15px;
    min-height: calc(100vH - 100px);
}

.n2web_content_inner {
    margin-left: 265px;
    overflow: scroll;
}

.n2web_sidebar {
    width: 250px;
    height: calc(100vH - 50px);
    border-right: 1px solid #eeedeb;
    position: fixed;
    top: 50px;
}

.n2web_search {
    height: 60px;
    border-bottom: 1px solid #eeedeb;
    padding: 15px;
    width: 100%;
    background-color: #fdfcfa;
    float: left;
}
.n2web_search_result hr {
    background-color: #eeedeb;
    color: #eeedeb;
    border: 0;
    height: 1px;
    background-image: none;
}
.n2web_search .n2web_search_box:before {
    content: "🔍︎";
    position: absolute;
    margin-left: 8px;
    margin-top: 4px;
    font-size: 12px;
}

.n2web_search input {
    width: 100%;
    border: 1px solid #eeedeb;
    border-radius: 5px;
    line-height: 17px;
    padding: 6px 5px 4px 5px;
    padding-left: 30px;
    transition: all 0.3s ease;
    background: #fff;
}

.n2web_search input:hover {
    border: 1px solid #a9d2f3;
    outline: none;
}

.n2web_search input:focus {
    border: 1px solid #2196f3;
    outline: none;
}

.n2web_documenttree {
    float: left;
    height: calc(100% - 110px);
    overflow: scroll;
    /* border: 1px solid; */
    width: 100%;
}



/* search */
.n2web_searchResults{
    margin-top: 65px;
}
.n2web_searchResults_inner{
    margin-top: 15px;
}
.n2web_search_result {
    border: 1px solid #eeedeb;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    color: #111;
    background: #fff;
    transition: all 0.3s ease;
    /* box-shadow: 0 2px 4px #d3cfc6; */
}

.n2web_search_result p {
    color: rgba(0, 0, 0, 0.6);
}

.n2web_search_result:hover {
    background: #0000000f;
    border: 1px solid #e5e4e3;
    /* box-shadow: 0 2px 4px #d3cfc6; */
}

.n2web_search_result p,
.n2web_searchResults a {
    text-decoration: none;
    color: #111;
    display: inline-block;
    margin-right: 0px;
    margin-left: 0px;
}
a.n2web_external_link::after {
    content: " ↗";
}

.n2web_footer {
    left: 0px;
    /* width: 80%; */
    height: 50px;
    border-top: 1px solid #0000000f;
    top: 100vH;
    position: sticky;
    margin: 0 auto;
    max-width: 1260px;
    background: #fdfcfa;
}






/* sidebar */
.n2web_file {
    margin: 10px;
}

.n2web_group {
    height: 0px;
    overflow: hidden;
    width: 100%;
    margin-left: 10px;
    opacity: 0;
}

.n2web_group.manual {
    transition: all 0.8s ease;
}

.manual .n2web_show_children::before {
    transition: all 0.3s ease;
}

.n2web_group.opened {
    height: auto;
    overflow: hidden;
    opacity: 1;
    width: auto;
}

.n2web_show_children::before {
    content: "→";
    width: 16px;
    float: left;
    line-height: 22px;
    cursor: pointer;
    padding: 0 3px;
    margin-top: 0px;
    border-radius: 3px;
    text-align: center;
}

.n2web_show_children:hover:before {
    background: #d9d9d9;
}

.opened>.n2web_show_children::before {
    transform: rotate(90deg);
}

.n2web_file.no_children {
    margin-left: 28px;
}

.n2web_breadcrumbs {
    border-bottom: 1px solid #0000000f;
    padding-bottom: 14px;
    width: 100%;
    background-color: #fdfcfa;
    float: left;
    margin-bottom: 10px;
    padding-top: 2px;
}

.n2web_breadcrumb_devider,
.n2web_breadcrumb_item {
    float: left;
    margin: 5px 7px 5px 0;
}

.n2web_breadcrumb_devider {
    color: rgb(229 228 226);
}

.n2web_breadcrumb_devider:after {
    content: "/";
}

.n2web_breadcrumbs:nth-last-child() {
    transition: all 0.3s ease;
}

.n2web_breadcrumbs a {
    color: #666;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 2px 4px;
    border-radius: 3px;
}

.n2web_breadcrumbs a:hover {
    font-size: 14px;
    text-decoration: none;
    color: rgba(17, 17, 17, 1);
    background: #0000000f;
}

a.table_of_contents-link {
    transition: all 0.3s ease;
    font-size: 14px;
    border-bottom: none;
}

a.table_of_contents-link:hover {
    background: #e5e4e2;
}


.n2web_jumpmark_selected {
    /* color: rgb(47, 165, 125); */
    transition: all 0.3s ease;
    animation: color-fade 5s;
    border-radius: 3px;
    padding-left: 5px;
    margin-left: -5px;
}

@keyframes color-fade {
    0% {
        background: transparent;
    }

    15% {
        background: #0000000f;

    }

    75% {
        background: #0000000f;
    }

    100% {
        background: transparent;
    }
}

@keyframes opacity-fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Menu */
.n2web_menu_item {
    float: left;
    padding: 6px 8px;
    margin: 10px 3px;
    border-radius: 5px;
}

.menu_right {
    float: right;
}

.n2web_menu_item:hover {
    background: #0000000f;
    color: #1c1b1b;
}

a .n2web_menu_item {
    color: #bbbbbb;
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer_menu .n2web_menu_item {
    font-size: 14px;
}



.table_of_contents {
    float: right;
    padding: 15px;
    margin-left: 15px;
    border-radius: 5px;
    transition: all 0.8s ease;
}

.table_of_contents:hover {
    background: #f7f7f6;
}

.n2web_header_main_logo {
    float: left;
}

.n2web_header_main_logo img, .n2web_header_main_logo a {
    height: 40px;
    margin-top: 5px;
}

.n2web_header_main_title {
    float: right;
}

.n2web_header_main_title h1 {
    color: #111;
    font-weight: 200;
    font-size: 28px;
    padding: 8px;
}


.n2web_sidebar ul,
.n2web_sidebar ul ul,
.n2web_sidebar li {
    font-size: 12px;
}

li.n2web_file {
    list-style: none;
    padding: 2px 5px;
    margin: 2px 5px;
    border-radius: 3px;
}

li.n2web_file a {
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    line-height: 22px;
    text-decoration: none;
    font-weight: 430;
    padding: 0px 4px;
    border-radius: 3px;
    display: inline-block;
}

article a,
summary {
    transition: all 0.3s ease;
}
article a{
    background: #f9f2e5;
}
article figure.image a, article a.bookmark{
    background: transparent;
}

article a {
    padding: 3px 4px;
    margin: 0 -4px;
    border-radius: 3px;
    color: #656564;
}

article img.page-cover-image {
    border-radius: 5px;
    box-shadow: 0 2px 4px #d3cfc6;
    width: calc(100% - 6px);
    margin: 3px;
}

article .table_of_contents-link {
    opacity: 1;
}

li.n2web_file a:hover,
article a:hover,
summary:hover,
a.table_of_contents-link:hover {
    color: rgba(17, 17, 17, 1);
    background: #0000000f;
}

figure.image a:hover {
    background: transparent;
}

article img {
    opacity: 0;
}

article {
    animation: opacity-fade 0.5s;
}
article img {
    animation: opacity-fade 1s;
}

article img {
    opacity: 1;
}

.callout a:hover {
    color: rgba(17, 17, 17, 1);
    background: #fdfcfa;
}

li.n2web_file a,
.n2web_file.has_children a {
    max-width: calc(100% - 22px);
    transition: background 0.3s ease, color 0.3s ease;
}

li.n2web_file.selected a,
.n2web_file.has_children.opened a {
    font-weight: 600;
    color: rgba(17, 17, 17, 1);
}

figure:not(.image) a[target=_blank]:not(.bookmark-image):not(.bookmark)::after{
    content: ' ↗';
    left: 0;
}

article .code, article code {
    font-size: 100%;
}

article li, article ul, article p, .callout {
    line-height: 24px;
}

article p {
    margin-top: 0px;
    margin-bottom: 15px;
}

article .code,
article .bookmark-info {
    overflow: scroll;
}

summary {
    cursor: pointer;
    padding: 3px 3px 3px 6px;
    margin: -3px -3px -3px -6px;
    border-radius: 3px;
}

article ul.toggle>li {
    list-style: none;
    overflow: scroll;
}

article figure.image img {
    border-radius: 5px;
    box-shadow: 0 2px 4px #d3cfc6;
}
article a span.icon {
    line-height: 18px;
}

article .block-color-red_background,
article .block-color-blue_background,
article .block-color-teal_background,
article .block-color-orange_background {
    border-radius: 5px;
}

.block-color-teal_background a {
    background: #bbd9b6;
}
.block-color-blue_background a {
    background: #add2e1;
}
.block-color-red_background a {
    background: #e9c4c7;
}
.block-color-orange_background a {
    background: #e3ccb6;
}
.block-color-gray a {
    color: #706f6f;
    background: transparent;
}
article .block-color-gray {
    color: #706f6f;
    fill: #706f6f;
}